@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src: url(https://assets.vorte.app/fonts/Inter/Inter-VariableFont_opsz,wght.ttf)
    format("truetype");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(https://assets.vorte.app/fonts/Inter/Inter-VariableFont_opsz,wght.ttf)
    format("truetype");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  font-display: auto;
  src: url(https://assets.vorte.app/fonts/Poppins/Poppins-Thin.ttf)
    format("truetype");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(https://assets.vorte.app/fonts/Poppins/Poppins-Regular.ttf)
    format("truetype");
}
